.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: aquamarine;
  width: 100vw;
}